<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RSSReportRetrievers.WebServices.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <RSSReportRetrievers.WebServices.Settings>
            <setting name="RSS2005" serializeAs="String">
                <value>http://localhost/ReportServer/ReportService2005.asmx</value>
            </setting>
            <setting name="RSS2000" serializeAs="String">
                <value>http://localhost/ReportServer/ReportService.asmx</value>
            </setting>
            <setting name="RSSSHAREPOINT" serializeAs="String">
                <value>http://localhost:8080/ReportServer/ReportService2006.asmx</value>
            </setting>
        </RSSReportRetrievers.WebServices.Settings>
    </applicationSettings>
</configuration>